<div class="container-fluid">
    <div class="row">
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand ml-2">SPORTS STORE</span>
        </div>
    </div>
    <div class="app">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>{{product?.name}}
                    Description</h2>
                </div>
                <div class="modal-body">
                <p>
                    {{product?.description}}
                </p>
                </div>
            </div>
        <div>
    </div>
</div>